.container {
    display: flex;
    flex-direction: column;
}

.libDisplay {
    display: flex;
    justify-content: space-between;
}
.book {
    background-color: blue;
    min-width: 150px;
    min-height: 200px;
    max-width: 150px;
    max-height: 200px;
}


/* form css */

.popupForm .overlay {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.7);
    z-index:1;
    display:none;
}

.popupForm .content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    background:#fff;
    width:500px;
    height:400px;
    z-index:2;
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    font-family:"Open Sans",sans-serif;
}

.popupForm .content .formInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popupForm .close-btn {
    cursor:pointer;
    position:absolute;
    right:20px;
    top:20px;
    width:30px;
    height:30px;
    background:#222;
    color:#fff;
    font-size:10px;
    font-weight:600;
    line-height:30px;
    text-align:center;
    border-radius:50%;
}

.popupForm.active .overlay {
    display: block;
}

.popupForm.active .content {
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
}

.formButton {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    padding:15px;
    font-size:18px;
    border:2px solid #222;
    color:#222;
    text-transform:uppercase;
    font-weight:600;
    background:#fff;
}