body {
    background-color: #ede0d4;
    font-family: 'Poppins', sans-serif;
}

/* reset styling */ 
h1,h2,h3,h4,h5,h6 {
    margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
  }

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3f4238;
    font-size: 5vw;
    padding: 2vw;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    border: #222 solid 5px;
    padding: 1vw;
    background-color: #7f5539;
    min-width: 80vw;
    min-height: 70vh;
}

.contTitle {
    color: white;
    font-size: 5vw;
}

.libDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    min-width: 78vw;
    min-height: 50vh;
    border-radius: 25px;
    border: #222 solid 3px;
}
.book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#ede0d4;
    width: 15vw;
    height: 23vh;
    border-radius: 25px;
    margin: 1vw;
    border: #222 solid 2px;
}

/* title */
.book > h1 { 
    
}
/* author */
.book > h2 {

}
/* pages */
.book > h3 {

}
/* read status */
.book > h4 {

}
/* delete btn*/
.book > .delete-btn {

}
/* form css */

.popupForm .overlay {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.7);
    z-index:1;
    display:none;
}

.popupForm .content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    background:#fff;
    width:500px;
    height:400px;
    z-index:2;
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    font-family:"Open Sans",sans-serif;
    border-radius: 25px;
}

.popupForm .content .formInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popupForm .close-btn {
    cursor:pointer;
    position:absolute;
    right:20px;
    top:20px;
    width:30px;
    height:30px;
    background:#222;
    color:#fff;
    font-size:10px;
    font-weight:600;
    line-height:30px;
    text-align:center;
    border-radius:50%;
}

.popupForm.active .overlay {
    display: block;
}

.popupForm.active .content {
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
}

.formButton {
    padding: 2vh;
    font-size: 2vw;
    font-weight: 550;
    border: #222 solid 2px;
    border-radius: 5px;
    color: #222;
    background: #fff;
    margin-top: 20px;
}

/* slider css */

.readSwitch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .readSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider {
    border-radius: 34px;
  }
  
  .slider:before {
    border-radius: 50%;
  }